#Attribution1 {display: none;}
.Header h1 {font-size: 9em; text-align:center;}
.Header .description{font-size:22px; text-align:center;}
.date-header {display: none;}
.post-outer h2{font: bold 22px Arial,Tahoma,Helvetica,FreeSans,sans-serif; color: #444;}
h3.post-title{display: none;}